<ion-content>
  <div class="content">
    <ion-label class="title">Crie sua conta</ion-label><br>
    
    <div class="input-box">   
      <ion-item>
        <ion-label position="floating">Nome de usuário</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
    
    <ion-button shape="round" expand="block" [routerLink]="['/login']">Criar</ion-button><br>
    <ion-label class="warning">Clicando em criar, você estará aceitando nossos termos e condições</ion-label>
    <ion-label class="login">Já tem uma conta? <span [routerLink]="['/login']">Entrar</span></ion-label>
  </div>
</ion-content>
