.content{
    margin-top: 20%;
}

.title{
    font-weight: bolder;
    font-size: xx-large;
    padding: 25px;
    color: rgb(71, 183, 83);
    display: flex;
    justify-content: center;
}

ion-item{
    --background: rgb(226, 255, 229); ;
    border-radius: 20px;
    margin: 10px 25px 10px 25px;
    --highlight-background: rgb(71, 183, 83);
}

ion-item.item-has-focus > ion-label{
    color: rgb(71, 183, 83) !important;
}

.input-box{
    margin-top: 35px;
}

ion-button{
    --background: rgb(71, 183, 83);
    margin: 25px;
}

.warning{
    font-size: medium;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.login{
    margin-top: 135px;
    display: flex;
    justify-content: center;
}

span{
    margin-left: 10px;
    color: rgb(71, 183, 83);
}