<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="principal">
        <ion-icon name="fast-food"></ion-icon>
        <ion-label>Refeições</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>Ofertas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Conta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
