ion-searchbar{
    --border-radius: 25px;
}

ion-badge{
    --background: rgb(226, 255, 229);
}

span{
    color: rgb(71, 183, 83);
    margin: 5px;
}

ion-card-title{
    font-weight: bolder;
}

.popular-choices{
    font-size: larger;
    font-weight: bolder;
    color: rgb(71, 183, 83);
    margin-left: 10px;
}