ion-content{
    --color: white;
}

ion-content div:first-child{
    position: relative;
}

ion-content div:last-child{
    position: relative;
    margin-top: -25px;
}

.header{
    height: 200px;
    background-image: url('../../assets/foods/prato1.jpg');
    background-size: cover;
}

.points{
    color: rgb(71,183, 83);
    margin-left: 5px;
}

ion-card{
    padding: 5px;
    border-radius: 10px;
}
ion-card-title{
    font-weight: bolder;
}

ion-card-subtitle{
    font-size: small;
}

.ingredients{
    font-size: xx-small;
}

.popular{
    font-size: x-large;
    font-weight: bolder;
    margin-left: 10px;
    color: rgb(71,183, 83);
}

.title{
    font-size: small;
    color: black;
}

.caption{
    font-size: small;
    font-weight: bolder;
    color: black;
}

.title-2{
    font-size: x-large;
    font-weight: bolder;
    margin-left: 25px;
    color: rgb(71,183, 83);
}

.prato{
    font-weight: bolder;
}

.preco{
    font-weight: bolder;
    text-align: right;
}

.popularity{
    font-size: small;
    text-align: right;
}
