<ion-content>
  <div class="header">

  </div>
  <div class="offers">
    <div class="title">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <span>Prato Fitness</span>
            <ion-icon name="cart" color="success" style="float: right;"></ion-icon><br>
            <!-- <span>Fitness</span> -->
          </ion-card-title>
          <ion-card-subtitle>
            <ion-icon name="star" color="success"></ion-icon>
            <span class="points">4,9</span> (124 votos) Frango + Salada - R$19,90
            <br>
            <ion-icon name="fast-food" color="success"></ion-icon>
            <span class="ingredients">Frango grelhado e salada de tomate, alface, cebola e azeitona</span>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
