<ion-content [fullscreen]="true">
  <div class="login">
    <ion-label>Entrar</ion-label>
  </div>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>

        <ion-row>
          <ion-col>
            <img src="assets/images/slide3.png">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="title">Encontre as comidas que você ama</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="caption">Aprecie as melhores refeições<br>São mais de 1000 pratos diferentes</ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>
      
    <ion-slide>
      <ion-grid>

        <ion-row>
          <ion-col>
            <img src="assets/images/slide1.png">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="title">Encontre as comidas que você ama</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="caption">Encontro as melhores refeições em<br>mais de 1000 restaurantes</ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>

        <ion-row>
          <ion-col>
            <img src="assets/images/slide4.png">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="title">Respeito ao meio ambiente</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="caption">Apenas empresas verificadas<br>Comidas saudáveis</ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>
  
  </ion-slides>
  
  <div class="buttons">
    <ion-button class="btn-create-account" shape="round" expand="block" [routerLink]="['/create-account']">Criar Conta</ion-button>
    <ion-button class="btn-enter-facebook" shape="round"><ion-icon class="icon-facebook" name="logo-facebook"></ion-icon>Entrar com o Facebook</ion-button>
  </div>  
</ion-content>
