ion-content{
    --background: rgb(71, 183, 83);
    --color: white;
}

.header{
    margin: 10px 0 0 10px;
}

.header ion-button{
    --background: white;
    color: rgb(71, 183, 83);
    font-weight: bold;
}

.header-title{
    font-size: x-large;
    font-weight: bolder;
}

.header-caption{
    font-size: small;
}

.header img{
    margin-top: 15px;
}

.offers{
    width: 360px;
    background: white;
    border-radius: 25px;
    color: black;
    padding: 10px;
}

ion-card{
    padding: 5px;
    border-radius: 10px;
}

.offers img{
    border-radius: 10px;
}

ion-card-title{
    font-weight: bolder;
}

ion-card-subtitle{
    font-size: small;
}

.offers span{
    color: rgb(71,183, 83);
    margin-left: 5px;
}





